.app {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f7;

  .home-page {
    .form-search {
      display: flex;
      justify-content: center;
    }
  }

  .quote-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

    #search-container {
      margin-bottom: 15px;
    }

    .container {
      widows: 60%;
      border-radius: 10px;
      border: 1px #eee solid;
      padding: 40px 20px;
      background-color: #fff;

      header {
        display: flex;
        justify-content: space-between;

        h1 {
          display: flex;
          flex-direction: column;

          small {
            font-size: 20px;
            color: #9e9e9e;
          }
        }

        .price {
          display: flex;
          flex-direction: column;
          align-items: center;

          span {
            padding: 5px;

            &.positive-change {
              color: #2e7d32;
              background-color: #c8e6c9;
            }
            &.negative-change {
              color: #c62828;
              background-color: #ffcdd2;
            }
          }
        }
      }
    }
  }

  #tbl-quote-details {
    tr {
      border-bottom: 1px dashed #eee;
    }
    th {
      text-align: right;
    }
  }

  #chart-controls {
    width: 100%;
    max-height: 30px;
    font-size: 12px;

    .btn-group .btn {
      font-size: 12px;
    }
  }
  #chart-row {
    height: 90%;
  }
}

#fs-container {
  position: relative;
  z-index: 999;

  #fs-content {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
